<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        .mainContainer {
            overflow: hidden;
        }

        .row {
            position: relative;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">


        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

</div>

<div class="container mainContainer">
    <div class="row">

    </div>
</div>
<!-- /container -->
<script type="text/template" id="formularz">
    <div class="form-signin">
        <h2 class="form-signin-heading">Formularz</h2>
        <div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="login" class="form-control" placeholder="Login" required="" autofocus="">
            <div class="alert alert-danger login-dan" role="alert">
                <strong>Login</strong> nie moze być pusty musi mieć minimum 3 znaki i nie więcej niz 15
            </div>
        </div>
        <div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="pass" class="form-control" placeholder="Password" required="">
            <div class="alert alert-danger pass-dan" role="alert">
                <strong>hasło</strong> nie moze być pusty musi mieć minimum 8 znaków.
            </div>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="plec" id="blankRadio1" value="mężczyzna" aria-label="..."> Mężczyzna
            </label>
            <label>
                <input type="radio" name="plec" id="blankRadio1" value="kobieta" aria-label="..."> Kobieta
            </label>
        </div>
        <div><select class="form-control" id="woj">
            <option value="Dolnośląskie">Dolnośląskie</option>
            <option value="Kujawsko-Pomorskie">Kujawsko-Pomorskie</option>
            <option value="Lubelskie">Lubelskie</option>
            <option value="Lubuskie">Lubuskie</option>
            <option value="Łódzkie">Łódzkie</option>
            <option value="Małopolskie">Małopolskie</option>
            <option value="Mazowieckie">Mazowieckie</option>
            <option value="Opolskie">Opolskie</option>
            <option value="Podkarpackie">Podkarpackie</option>
            <option value="Podlaskie">Podlaskie</option>
            <option value="Pomorskie">Pomorskie</option>
            <option value="Śląskie">Śląskie</option>
            <option value="Świętokrzyskie">Świętokrzyskie</option>
            <option value="Warmińsko">Warmińsko-Mazurskie</option>
            <option value="Wielkopolskie">Wielkopolskie</option>
            <option value="Zachodniopomorskie">Zachodniopomorskie</option>
        </select>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="dorosly"> jestem pełnoletni
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="regulamin"> zakceptowałem regulamin
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="zarejestruj">Zarejestruj</button>
    </div>
</script>
<script type="text/template" id="potwierdzenie">
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4">
        <h4>Dane Formularza</h4>
        <table class="table table-bordered table-hover">
            <tr>
                <td>Login</td>
                <td>{{login}}</td>
            </tr>
            <tr>
                <td>Hasło</td>
                <td>{{pass}}</td>
            </tr>
            <tr>
                <td>Plec</td>
                <td>{{plec}}</td>
            </tr>
            <tr>
                <td>Województwo</td>
                <td>{{woj}}</td>
            </tr>

            <tr>

        </table>
        <button type="button" id="wyslij" class="btn btn-lg btn-primary">Wyślij</button>
    </div>
    <div class="col-xs-6 col-md-4"></div>
</script>
<script type="text/template" id="powodzenie">
    <div class="alert alert-success" role="alert">
        <strong>Udało się</strong> Dane pomyślnie wysłane
    </div>
</script>


<script src="js/formularz.js"></script>
</body>
</html>