.book {
    border: 1px solid black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    transition: background-color 1000ms;
}

.book:hover {
    background-color: aqua;
}

.author {
    font-weight: bold;
}