<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/backbone-min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right loginMenu">
                <a class="btn btn-lg btn-success" href="#/dodajKsiazke" role="button">Dodaj Książkę</a>
            </div>

        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

</div>

<div class="container">
    <!-- Example row of columns -->
    <div id="books"></div>

    <hr>

    <footer>
        <p>&copy; Company, Inc.</p>
    </footer>
</div>
<!-- /container -->


<script type="text/template" id="ksiazki">

    {{#each this}}

    <div class="container book">
        <div class="row">

            <div class="col-md-10">
                <h3> {{Nazwa}}
                    <a class="btn btn-primary" href="#edytuj/{{this.id}}"><span class="glyphicon glyphicon-edit"
                                                                                aria-hidden="true"></span></a>

                    <a class="btn btn-danger" data-id="{{this.id}}" id="remove"><span
                            class="glyphicon glyphicon-remove-circle"
                            aria-hidden="true"></span></a>
                </h3>

            </div>
            <div class="col-md-2">
                <h3> {{DataDodania}} </h3>
            </div>
        </div>
        <hr/>

        <div class="row author">
            <div class="col-md-12">
                {{ Autor }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ Opis }}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/template" id="dodajKsiazke">

    <div class="form-group">
        <label for="Nazwa">Nazwa Ksiazki</label>
        <input type="text" class="form-control" id="Nazwa" aria-describedby="emailHelp" placeholder="Nazwa Ksiązki">
        <p class="bg-danger nazwaWarning">Nazwa nie może być pusta</p>
    </div>
    <div class="form-group">
        <label for="Autor">Autor</label>
        <input type="email" class="form-control" id="Autor" aria-describedby="emailHelp" placeholder="Autor Ksiązki">
        <p class="bg-danger autorlWarning">Tytuł nie może być pusty</p>
    </div>
    <div class="form-group">
        <label for="Opis">Opis Książki</label>
        <textarea class="form-control" id="Opis" rows="3"></textarea>
        <p class="bg-danger OpisWarning">Opis nie może być pusty</p>
    </div>

    <button type="submit" class="btn btn-primary" id="dodaj">Dodaj</button>

</script>

<script type="text/template" id="edytujKsiazke">

    <div class="form-group">
        <label for="Nazwa">Nazwa Ksiazki</label>
        <input type="text" class="form-control" id="Nazwa" aria-describedby="emailHelp" value="{{Nazwa}}"
               placeholder="Nazwa Ksiązki">
        <p class="bg-danger nazwaWarning">Nazwa nie może być pusta</p>
    </div>
    <div class="form-group">
        <label for="Autor">Autor</label>
        <input type="email" class="form-control" id="Autor" value="{{Autor}}" aria-describedby="emailHelp"
               placeholder="Autor Ksiązki">
        <p class="bg-danger autorlWarning">Tytuł nie może być pusty</p>
    </div>
    <div class="form-group">
        <label for="Opis">Opis Książki</label>
        <textarea class="form-control" id="Opis" rows="3">{{Opis}}</textarea>
        <p class="bg-danger OpisWarning">Opis nie może być pusty</p>
    </div>

    <button type="submit" class="btn btn-primary" id="edytuj">Edytuj</button>

</script>
<script src="js/main.js"></script>
</body>
</html>